@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#container {
    width: 550px;
    height: 729px;
    border: 8px solid white;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

#main-div {
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
}

#heading {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 38px;
    margin-bottom: 40px;
}

#user-input {
    width: 117px;
    height: 83px;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: bolder;
    border: 4px solid #B295FF;
    border-radius: 4px;
    background-color: #6943FF;
    text-align: center;
    margin-bottom: 20px;
}

#buttons-div {
    display: flex;
    gap: 12px;
}

#convert-btn,
#reset-btn {
    width: 117px;
    height: 42px;
    text-align: center;
    background-color: #FFFFFF;
    color: #3D3D3D;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

#convert-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}


#reset-btn:active {
    background-color: red;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

#conversion-div {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#length-div,
#volume-div,
#mass-div {
    width: 500px;
    height: 108px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-radius: 4px;
    padding: 30px;
}

#length-title,
#volume-title,
#mass-title {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: bold;
}

#length-input,
#volume-input,
#mass-input {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 15px;
}

#ld1,
#ld2,
#vd1,
#vd2,
#md1,
#md2 {
    height: 50%;
}